<h1>Works of Musical Genius</h1>
<ul>
<% speakers.forEach(function(index){ %>
    <li>
        <h4> <a href="/music/<%= index.id %>"><%= index.name %></a><br> </h4>
        <!-- <div >
                <%= index.summary %>
        </div> -->
        <h5> <%= index.title %> </h5>
        <img src="/images/albums/<%= index.shortname %>_1.jpg" alt="">
        <p> <%= index.description %> </p>
    </li>
    

<%})%>
</ul>