<li>
        <h1> <%= speakers.name %><br> </h1>
        <h4> <%= speakers.title %> </h4>
        <img src="/images/albums/<%= speaker.shortname %>_1.jpg" alt="<%= speakers.artwork[0] %>">
        <p> <%= speakers.description %> </p>
</li>